.box {
    padding: 20px;
    margin: 10px;
    width: 50%;
    text-align: center;
}

.box:hover {cursor: pointer;}

.green { background: green; }
.blue { background: dodgerblue; }
.orange { background: orangered; }